/* line 17, ../sass/variable.scss */
.fs10 {
  font-size: 10px;
}

/* line 18, ../sass/variable.scss */
.fs12 {
  font-size: 12px;
}

/* line 19, ../sass/variable.scss */
.fs14 {
  font-size: 14px;
}

/* line 20, ../sass/variable.scss */
.fs16 {
  font-size: 16px;
}

/* line 21, ../sass/variable.scss */
.fs18 {
  font-size: 18px;
}

/* line 22, ../sass/variable.scss */
.fs20 {
  font-size: 20px;
}

/* line 23, ../sass/variable.scss */
.fs22 {
  font-size: 22px;
}

/* line 24, ../sass/variable.scss */
.fs24 {
  font-size: 24px;
}

/* line 25, ../sass/variable.scss */
.fs25 {
  font-size: 25px;
}

/* line 26, ../sass/variable.scss */
.fs26 {
  font-size: 26px;
}

/* line 27, ../sass/variable.scss */
.fs28 {
  font-size: 28px;
}

/* line 28, ../sass/variable.scss */
.fs30 {
  font-size: 30px;
}

/* line 29, ../sass/variable.scss */
.fs32 {
  font-size: 32px;
}

/* line 31, ../sass/variable.scss */
.fwb {
  font-weight: bold;
}

/* line 35, ../sass/variable.scss */
.fwn {
  font-weight: normal;
}

/* line 39, ../sass/variable.scss */
.no-t-m {
  margin-top: 0;
}

/* line 43, ../sass/variable.scss */
.no-b-m {
  margin-bottom: 0;
}

/* line 46, ../sass/variable.scss */
.no-l-m {
  margin-left: 0;
}

/* line 49, ../sass/variable.scss */
.no-r-m {
  margin-right: 0;
}

/* line 53, ../sass/variable.scss */
.no-margin {
  margin: 0;
}

/* line 57, ../sass/variable.scss */
.no-t-p {
  padding-top: 0;
}

/* line 61, ../sass/variable.scss */
.no-b-p {
  padding-bottom: 0;
}

/* line 64, ../sass/variable.scss */
.no-l-p {
  padding-left: 0;
}

/* line 67, ../sass/variable.scss */
.no-r-p {
  padding-right: 0;
}

/* line 71, ../sass/variable.scss */
.no-padding {
  padding: 0;
}

/* line 74, ../sass/variable.scss */
.dn {
  display: none;
}

/* line 79, ../sass/variable.scss */
.mt5 {
  margin-top: 5px;
}

/* line 80, ../sass/variable.scss */
.mt10 {
  margin-top: 10px;
}

/* line 81, ../sass/variable.scss */
.mt15 {
  margin-top: 15px;
}

/* line 82, ../sass/variable.scss */
.mt20 {
  margin-top: 20px;
}

/* line 83, ../sass/variable.scss */
.mt25 {
  margin-top: 25px;
}

/* line 84, ../sass/variable.scss */
.mt30 {
  margin-top: 30px;
}

/* line 85, ../sass/variable.scss */
.mt35 {
  margin-top: 35px;
}

/* line 86, ../sass/variable.scss */
.mt80 {
  margin-top: 80px;
}

/* line 87, ../sass/variable.scss */
.ml20 {
  margin-left: 20px;
}

/* line 88, ../sass/variable.scss */
.ml50 {
  margin-left: 50px;
}

/* line 89, ../sass/variable.scss */
.ml80 {
  margin-left: 80px;
}

/* line 91, ../sass/variable.scss */
.pt80 {
  padding-top: 80px;
}

/* line 92, ../sass/variable.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 93, ../sass/variable.scss */
.pb80 {
  padding-bottom: 80px;
}

/* line 94, ../sass/variable.scss */
.pl20 {
  padding-left: 20px;
}

/* line 96, ../sass/variable.scss */
.tac {
  text-align: center;
}

/* line 100, ../sass/variable.scss */
.tal {
  text-align: left;
}

/* line 104, ../sass/variable.scss */
.tar {
  text-align: right;
}
